body {
    font-family:FreeSans;
    opacity: 80%;
}
pre {
    background-color:HSL(320,50%,90%);
    display:inline-block;
    border:1px solid black;
    border-radius:5px;
    position:relative;
    left:7px;
    padding:10px;
    padding-right:70px;
}
.tags {
    font-size:90%;
}
.emph {
    font-style:italic;
}
.posts {
    display:block;
    background-color:NavajoWhite;
    height: 300px;
    overflow-y: auto;
}
a {
	text-decoration: none;
	font-family: sans-serif;
	color: navy;
}

#tags {
	max-width: 750px;
}

p {
  max-width: 750px;
}
